@{
    Layout = null;
}
@model IEnumerable<_BeatBox.Models.UserViewModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/css/Admin.css" rel="stylesheet"/>
    <link href="~/css/mycsstheme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css" />
    
</head>
    <body >

        <h1 class="text-center">BeatBox</h1>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>FirstName</th>
                <th>LastName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>

                    <td>
                        <a asp-controller="Admin" asp-action="UserView" asp-route-id="@user.Id" class="btn btn-outline-warning">
                            <span class="icon">
                                <i class="fas fa-eye" aria-hidden="true"></i>
                            </span>
                            <span class="item">View</span>
                        </a>
                    </td>
                
                    <!-- Add action links if needed -->
                    <td>
                        <a asp-controller="Admin" asp-action="UserEdit" asp-route-id="@user.Id" class="btn btn-outline-warning">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="item">Edit</span>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="UserDelete" asp-route-id="@user.Id" class="btn btn-outline-danger">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="item">Delete</span>
                        </a>
                    </td>
                
            </tr>
        }
    </tbody>
    </table>
    <div style="text-align:center">
       <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">
        
          <span class="text-center ">Back</span>
       </a>
    </div>
        <!-- No Labels Form -->
       
</body>
</html>